:root {
    --background-color: #FEFDFB;
    --dark-text-color: #010101;
    --disabled-color: #D9D9D9;
    --secondary-text-color: #31302E;
}

[data-theme=dark] {
    --background-color: #171717;
    --dark-text-color: #FFFFFF;
    --disabled-color: #CCCCCD;
    --secondary-text-color: #CCCCCD;
}