@font-face {
    font-family: 'TT Hoves';
    src: url(/fonts/TTHoves-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'TT Hoves';
    src: url(/fonts/TTHoves-Medium.ttf);
    font-weight: 500;
}