.button-component {
    padding: 12px 24px;
    border-radius: 100px;
    background: white;
    transition: 275ms ease;
    border: 1px solid #2e2e2e;
    color: black;
    font-size: 16px;

    &:hover {
        background: black;
        color: white;
    }
}