.cases {
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px 0 130px;
    

    .outline-title {
        animation: anim-text 1200ms cubic-bezier(0, 0.45, 0.15, 1);
        margin: 0 0 120px 130px;

        @media (min-width: 830px) and (max-width: 1080px) {
            margin: 0 0 100px 0;
        }

        @media (max-width: 834px) {
            margin: 0 0 80px 0;
        }
    }

    .intro-cases {
        z-index: 10;
        transform: translate(-130px, -95px);
        width: 40%;
        position: absolute;
        padding-left: 40px;
        box-sizing: border-box
    }

    .project-0 {
        align-self: flex-end;
        width: 60%;
        margin: 0 0 180px 420px;
        animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1);

        @media (min-width: 830px) and (max-width: 1080px) {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        @media (max-width: 834px) {
            width: 100%;
            margin: 0 0 50px 0;
            padding: 0;
        }
    }

    .project-1 {
        width: 60%;
        animation: anim-text 1200ms cubic-bezier(0, 0.45, 0.15, 1);
        margin-bottom: 130px;

        .project-img {
            background-color: #EDF2F8;
        }

        @media (min-width: 830px) and (max-width: 1080px) {
            width: 100%;
            padding: 0;
            margin: 50px 0 0 0;
        }

        @media (max-width: 834px) {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .project-2 {
        align-self: flex-end;
        width: 35%;
        animation: anim-text 1250ms cubic-bezier(0, 0.45, 0.15, 1);

        .project-img {
            background-color: #EDF2F8;

            @media (max-width: 834px) {
                height: auto;
            }
        }

        @media (min-width: 830px) and (max-width: 1080px) {
            width: 100%;
            margin: 50px 0 0 0;
            padding: 0;
            align-self: auto;
        }

        @media (max-width: 834px) {
            width: 100%;
            margin: 50px 0 0 0;
            padding: 0;
            align-self: auto
        }
    }

    @media (min-width: 830px) and (max-width: 1080px) {
        margin-top: 80px;
        padding: 0 30px 0 30px;
    }

    @media (max-width: 834px) {
        margin-top: 80px;
        padding: 0 30px;
    }
}