@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-Medium.ttf") ;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-Semibold.ttf") ;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

:root {
    --epos-text: #f3f2f4;
    --epos-contrast: #5943c9;
}


.epos {
    font-family: "Averta", sans-serif;

    .epos-container {
        &:before {
            content: '';
            background-color: var(--epos-contrast);
            position: absolute;
            width: 100%;
            height: 1300px;
            top: 0;
            z-index: -40;

            @media (min-width: 830px) and (max-width: 1300px) {
                height: 1300px;
            }

            @media (max-width: 834px) {
                height: 1150px;
            }

            @media (max-width: 380px) {
                height: 1100px;
            }
        }

        main {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 40px;

            .content {
                padding-left: 130px;
                margin-top: 0;

                @media (max-width: 1080px) {
                    padding-left: 0;
                }

                .tag {
                    animation: anim-text 1000ms cubic-bezier(0, 0.45, 0.15, 1);

                    span.num {
                        color: var(--epos-text);
                    }

                    .dash {
                        color: rgba(255, 255, 255, 0.2);
                        margin: 0 20px;
                        font-size: 12px;
                        letter-spacing: -2px
                    }

                    span.name {
                        color: var(--epos-text);
                    }
                }

                h1 {
                    color: var(--epos-text);

                    @media (min-width: 1500px) {
                        font-size: 110px;
                        line-height: 130px;
                    }

                    @media (min-width: 1200px) and (max-width: 1300px) {
                        font-size: 6.6vw;
                        line-height: 8vw;
                    }

                    @media (min-width: 834px) and (max-width: 1200px) {
                        font-size: 6vw;
                        line-height: 8vw;
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        width: 80%;
                    }

                    @media (max-width: 834px) {
                        font-size: 13vw;
                        line-height: 15vw;
                        width: 80%;
                    }
                }

                .introduction {
                    animation: anim-text 1100ms cubic-bezier(0, 0.45, 0.15, 1);
                    width: 35%;

                    span {
                        color: #FFF;
                        font-size: 16px
                    }

                    p {
                        margin-top: 32px;
                        color: rgba(255, 255, 255, 0.6);
                        font-family: "Cotham", sans-serif;
                        font-size: 18px;
                        line-height: 32px;
                    }

                    @media (min-width: 1080px) and (max-width: 1300px) {
                        width: 50%;
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        width: calc(80% - 80px);
                        margin-left: 80px;
                    }

                    @media (max-width: 834px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                .information {
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    display: flex;
                    justify-content: space-between;
                    padding-top: 32px;
                    box-sizing: border-box;
                    width: 35%;
                    margin: 40px 0;
                    animation: anim-text 1150ms cubic-bezier(0, 0.45, 0.15, 1);

                    div {
                        align-items: flex-start;
                        width: 28%;
                        border-right: 1px solid rgba(255, 255, 255, 0.2);

                        @media (max-width: 458px) {
                            width: 100%;
                            border-right: none;
                            margin-bottom: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        span {
                            font-family: "Averta", sans-serif;
                            color: #FFF;
                            font-size: 16px;
                        }

                        p {
                            margin-top: 32px;
                            color: rgba(255, 255, 255, 0.6);

                            @media (max-width: 834px) {
                                margin-top: 16px;
                            }

                            @media (max-width: 458px) {
                                margin-top: 0;
                            }
                        }

                        a {
                            font-family: "Cotham", sans-serif;
                            font-size: 18px;
                            color: rgba(255, 255, 255, 0.6);
                            margin-top: 40px;
                            display: flex;
                            transition: color 200ms;

                            @media (max-width: 834px) {
                                margin-top: 20px;
                                font-size: 16px;
                            }

                            @media (max-width: 458px) {
                                margin-top: 0;
                            }
                            
                            svg {
                                fill: rgba(255, 255, 255, 0.6);
                                margin: -5px 0 0 10px;
                                transition: fill 200ms;

                                .arrow {
                                    transition: transform 200ms;
                                }
                            }

                            &:hover {
                                color: rgba(255, 255, 255, 0.75);

                                svg {
                                    fill: rgba(255, 255, 255, 0.75);

                                    .arrow {
                                        transform: translate(3px, -3px)
                                    }
                                }
                            }
                        }
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        width: calc(80% - 80px);
                        margin-left: 80px;
                    }

                    @media (max-width: 834px) {
                        width: 100%;
                        margin-left: 0;
                    }
                    
                    @media (max-width: 458px) {
                        flex-direction: column;
                    }
                }
            }

            .previews {
                margin: 80px 0;

                img {
                    width: 100%;
                }

                .preview-1 {
                    animation: anim-text 1200ms cubic-bezier(0, 0.45, 0.15, 1);
                    width: 80%;
                    float: left;
                    position: relative;
                    margin-left: -5%;
                    left: 10%;

                    @media (max-width: 834px) {
                        width: 100%;
                        margin-left: -5%;
                        left: 5%;
                    }
                }

                .preview-2 {
                    animation: anim-text 1200ms cubic-bezier(0, 0.45, 0.15, 1);
                    width: 20%;
                    float: right;
                    position: relative;
                    margin-right: -25%;
                    right: 30%;
                    margin-top: -60px;
                    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.12);
                    border-radius: 20px;

                    @media (max-width: 834px) {
                        display: none;
                    }
                }

                @media (max-width: 834px) {
                    margin: 40px 0;
                }
            }
        }

        .page-content {
            max-width: 1600px;
            margin: 0 auto;
            transform: translateY(50px);

            p {
                color: #6b5e7d;

                &:nth-child(n+1) {
                    margin-top: 20px
                }
            }

            section {
                margin: 50px 40px 100px 40px;

                a {
                    color: #12033c;

                    &:hover {
                        color: #171bcd;
                    }
                }

                p {
                    margin-left: 130px;
                    width: calc(60% - 40px)
                }

                img {
                    width: 100%;
                }

                .title-container {
                    margin-bottom: 60px;
                    display: flex;
                    flex-direction: column;
                    font-size: 100px;
                    width: 100%;

                    .number {
                        font-size: 20px;
                        color: var(--primary);
                        font-family: "Averta", sans-serif;
                        margin-bottom: 24px;
                    }

                    .title {
                        color: #030c3c;
                        //width: 60%;
                        margin: 40px 0;

                        @media (min-width: 1500px) {
                            font-size: 100px;
                        }

                        @media (min-width: 1200px) and (max-width: 1300px) {
                            font-size: 6.6vw;
                            line-height: 8vw;
                        }

                        @media (min-width: 834px) and (max-width: 1200px) {
                            font-size: 10vw;
                            line-height: 12vw;
                        }

                        @media (min-width: 830px) and (max-width: 1080px) {
                            width: 100%;
                        }

                        @media (max-width: 834px) {
                            font-size: 10vw;
                            margin-bottom: 0;
                        }
                    }

                    .subtitle {
                        margin: 0 0 40px 130px;

                        @media (min-width: 830px) and (max-width: 1080px) {
                            margin-left: 80px;
                        }

                        @media (max-width: 834px) {
                            margin-left: 0;
                        }
                    }

                    p {
                        @media (min-width: 830px) and (max-width: 1080px) {
                            width: calc(100% - 80px);
                            margin-left: 80px;
                        }

                        @media (max-width: 834px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }

                    @media (max-width: 834px) {
                        margin-bottom: 20px;
                    }
                }

                .process-list {
                    margin-left: 130px;
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 80%;

                    .item-list {
                        width: 30%;

                        .icon {
                            width: 80px;
                            height: 80px;
                            border-radius: 6px;
                        }

                        .subtitle {
                            margin: 40px 0 40px 0;
                            color: #18033C;
                            font-family: 'Averta', sans-serif;
                            font-size: 22px;
                        }

                        p {
                            color: #635E7D;
                            width: 100%;
                            margin: 0;
                        }

                        &:nth-child(n+4) {
                            margin-top: 80px;
                        }

                        @media (min-width: 830px) and (max-width: 1080px) {
                            width: 47%;

                            &:nth-child(n+3) {
                                margin-top: 80px;
                            }
                        }

                        @media (max-width: 830px) {
                            width: 100%;

                            &:nth-child(n+2) {
                                margin-top: 80px;
                            }
                        }
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        width: calc(100% - 130px)
                    }

                    @media (max-width: 830px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                .technologies {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-left: 130px;
                    margin-top: 60px;
                    grid-gap: 50px;

                    .tech-item {
                        display: flex;
                        font-size: initial;

                        svg, img {
                            height: 60px;
                            width: 60px;
                            flex: 0 0 auto;
                            margin-top: 5px;
                        }

                        img {
                            transform: scale(1.2) translateX(5%);
                        }

                        .tech-info {
                            display: inline-block;
                            margin-left: 30px;

                            span {
                                font-size: 24px;
                                color: #18033C;
                                line-height: initial;
                                margin-bottom: 10px;
                                display: block;
                            }

                            p {
                                margin: 0;
                                width: 75%;

                                @media (max-width: 834px) {
                                    width: 100%;
                                }
                            }

                            @media (max-width: 834px) {
                                margin-left: 0;
                                margin-top: 20px;
                            }
                        }

                        @media (max-width: 834px) {
                            flex-direction: column;
                        }
                    }
                    
                    @media (max-width: 976px) {
                        grid-template-columns: 1fr;
                        grid-gap: 56px;
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        width: calc(100% - 80px);
                        margin-left: 80px;
                    }

                    @media (max-width: 834px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                .text-column {
                    margin: 80px 0 80px 80px;
                    width: calc(100% - 80px);

                    .subtitle {
                        margin-bottom: 40px;
                        color: #18033C;
                        font-family: 'Averta', sans-serif;
                        font-size: 22px;

                        @media (max-width: 834px) {
                            margin-bottom: 20px;
                        }
                    }

                    p {
                        margin: 0;

                        @media (max-width: 834px) {
                            width: 100%;
                        }
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        margin: 80px 0 80px 80px;
                        width: calc(100% - 80px);
                    }

                    @media (max-width: 834px) {
                        margin: 40px 0 40px 0;
                        width: 100%;
                    }
                }

                .screenshot {
                    width: 100%;
                    margin-top: 80px;

                    img {
                        border-radius: 10px;
                    }

                    figcaption {
                        text-align: center;
                        margin: 24px 0 80px 0;
                        color: #635E7D;
                        font-size: 14px;
                        font-family: "Cotham", sans-serif;

                        @media (max-width: 834px) {
                            margin: 24px 0 40px 0;

                            &:last-child {
                                margin-bottom: 0
                            }
                        }
                    }
                }

                .img-cols-2 {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 80px;
                    flex-wrap: wrap;

                    figure {
                        width: 49%;

                        &.link {
                            cursor: pointer;
                            transition: transform 300ms ease, box-shadow 300ms linear;

                            &:hover {
                                transform: scale(1.025);
                            }
                        }

                        img {
                            width: 100%;
                        }

                        @media (max-width: 834px) {
                            width: 100%;
                        }
                    }

                    @media (max-width: 834px) {
                        flex-direction: column;
                        margin-top: 40px;
                    }
                }


                .features-container {
                    width: 100%;
                    padding: 120px;
                    box-sizing: border-box;
                    border: 1px solid #cacde3;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 5px;

                    .left {
                        width: 30%;

                        span.title {
                            font-family: "Averta", sans-serif;
                            color: #18033C;
                            font-size: 36px;
                            margin-bottom: 40px;
                            display: block;
                        }

                        p {
                            margin: 0;
                            width: initial;
                        }

                        @media (min-width: 1080px) and (max-width: 1300px) {
                            width: 60%;
                        }

                        @media (min-width: 830px) and (max-width: 1080px) {
                            width: 80%;
                        }

                        @media (max-width: 830px) {
                            width: 100%;
                        }
                    }

                    .right {
                        width: 65%;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            width: 30%;
                            list-style: none;
                            margin-right: 20px;

                            .subtitle {
                                color: #18033C;
                                font-family: 'Averta', sans-serif;
                                font-size: 22px;
                                margin-bottom: 20px;

                            }

                            &:nth-child(4), &:nth-child(5) {
                                margin-top: 40px;
                            }

                            @media (min-width: 1080px) and (max-width: 1300px) {
                                margin-top: 80px;
                            }

                            @media (min-width: 830px) and (max-width: 1080px) {
                                width: 45%;
                                justify-content: space-between;
                                margin-top: 80px;
                                margin-right: 20px;

                                &:nth-child(3) {
                                    margin-top: 40px;
                                }
                            }

                            @media (max-width: 830px) {
                                width: 49%;
                                margin-top: 80px;
                                margin-right: 0;

                                &:nth-child(n+1) {
                                    margin-top: 40px
                                }
                            }

                            @media (max-width: 685px) {
                                width: 100%
                            }
                        }

                        p {
                            margin: 0;
                            width: initial;

                            @media (min-width: 1080px) and (max-width: 1300px) {
                                width: 90%;
                            }
                        }

                        @media (min-width: 830px) and (max-width: 1300px) {
                            width: 100%
                        }

                        @media (max-width: 830px) {
                            width: 100%;
                            justify-content: space-between;
                        }
                    }

                    @media (min-width: 1080px) and (max-width: 1300px) {
                        flex-direction: column;
                    }

                    @media (min-width: 830px) and (max-width: 1080px) {
                        flex-direction: column;
                        padding: 80px;
                    }

                    @media (max-width: 830px) {
                        flex-direction: column;
                        padding: 40px;
                    }
                }
            }
        }

        .prefooter {
            width: 100%;

            span {
                width: 60%;
                color: var(--primary);
                font-size: 68px;
                font-family: "Averta", sans-serif;
                margin: 180px 0 160px 130px;
                display: block;

                svg {
                    position: absolute;
                    margin: 40px 0 0 -50px;
                    animation: rotatesvg 20000ms linear infinite;

                    @keyframes rotatesvg {
                        0% {
                            transform: rotate(0)
                        }
                        100% {
                            transform: rotate(360deg)
                        }
                    }

                    @media (max-width: 830px) {
                        margin: 100px 0 0 -50px;
                    }
                }

                @media (max-width: 830px) {
                    margin: 100px 0 160px 80px;
                    font-size: 52px;
                }
            }

            .home {
                height: 90px;
                width: calc(100% - 130px);
                background-color: var(--primaryHover);
                color: #F3F2F4;
                font-family: "Averta", sans-serif;
                font-size: 22px;
                display: flex;
                align-items: center;
                align-self: flex-end;
                z-index: 20;
                padding-left: 40px;
                box-sizing: border-box;
                margin-left: 130px;
                cursor: pointer;
                border-top-left-radius: 10px;

                &:hover {
                    color: #F3F2F4;

                    .arrow {
                        transform: translateX(-14px);
                    }
                }

                @media (max-width: 830px) {
                    width: calc(100% - 40px);
                    margin-left: 40px;
                }
            }

            .arrow {
                margin-right: 40px;
                transition: transform 400ms;
            }


        }
    }
}


