@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased
}

body {
    overflow: visible;
    background: black;
    font-family: "DM Sans", sans-serif;
    color: white;
}


h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

:root {
    --primary: #0063FF;
    --primaryActive: #b0ceff;
    --primaryHover: #0e3cc8;
    --primaryLight: #E9F5FF;
    --primaryLightHover: #e0ecf5;
    --text: #192531;
    --secondary: #76869F;
    --secondaryHover: #576477;
}

@keyframes fadeAnim {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}