.title-component {
    font-size: 96px;
    font-weight: 500;
    line-height: 96px;

    @media (max-width: 1099px) and (min-width: 768px) {
        font-size: 64px;
        line-height: 64px;
    }

    @media (max-width: 767px) {
        font-size: 40px;
        line-height: 40px;
    }

    span.disabled {
        color: #808080;
    }
}

.subtitle-component {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 750px;

    @media (max-width: 1099px) and (min-width: 768px) {
        max-width: 600px;
        font-size: 22px;
    }

    @media (max-width: 767px) {
        font-size: 22px;
    }
}