nav {
    padding: 60px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    animation: opacity-menu 1200ms;

    .logo {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;

        img {
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            margin-top: 3px;
        }

        &:hover:after {
            opacity: 1;
            transform: translateX(0);
        }

        &:after {
            content: 'Back home';
            position: absolute;
            font-family: "Averta", sans-serif;
            color: var(--secondary);
            font-size: 16px;
            align-self: center;
            margin-left: 70px;
            opacity: 0;
            transform: translateX(10px);
            transition: transform 400ms cubic-bezier(0, 0.45, 0.15, 1), opacity 400ms cubic-bezier(0, 0.45, 0.15, 1)
        }

        @media (max-width: 834px) {
            width: 30px;

            &:hover:after {
                display: none
            }
        }
    }

    .content-nav {
        display: flex;
        justify-content: space-between;
        width: 30%;

        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;

            svg {
                margin-left: 14px;
                
                g {
                    fill: #ccc;
                }

                @media (max-width: 834px) {
                    display: none;
                }
            }

            a svg {
                transition: transform 400ms cubic-bezier(0, 0.45, 0.15, 1);
            }

            a:hover svg {
                transform: translateX(20px);
            }

            @media (max-width: 834px) {
                a {
                    width: 30px
                }
            }
        }

        .social {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                transform: scale(1);
                height: 40px;
                width: 40px;

                &:before {
                    content: "";
                    background-color: var(--primary);
                    border-radius: 20px;
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    z-index: 10;
                    transform: scale(0);
                    opacity: 0;
                    transition: transform 300ms, opacity 200ms
                }

                &:hover:before {
                    transform: scale(1);
                    opacity: 1
                }

                &:hover svg path {
                    fill: white;
                }

                svg {
                    align-self: center;
                    z-index: 20;
                }

                svg path {
                    transition: fill 0.15s;
                }
            }

            a:nth-child(2) {
                margin: 0 20px;
            }
        }

        @media (min-width: 834px) and (max-width: 1200px) {
            width: 50%;
        }

        @media (max-width: 834px) {
            width: 75%;
            flex-direction: row-reverse;
        }
    }

    @media (max-width: 834px) {
        padding: 60px 30px;
    }
}