.page-header {
    position: fixed;
    width: 100vw;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);

    .page-header-container {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 80px 24px;

        @media (max-width: 1099px) and (min-width: 768px) {
            padding: 25px 40px 24px;
        }

        @media (max-width: 767px) {
            padding: 25px 20px 24px;
        }

        .name {
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
        }

        .right {
            display: inline-flex;
            align-items: center;
            gap: 24px;
            position: relative;

            @media (max-width: 767px) {
                .link-container {
                    display: none;
                }
            }

            .menu-button {
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}

.menu-slider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 102;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    transition: 500ms ease;
    display: none;
    pointer-events: none;
    backdrop-filter: blur(10px);
    opacity: 0;
    
    &.open {
        left: 0;
        pointer-events: initial;
        opacity: 1;
    }

    @media (max-width: 767px) {
        display: flex;
    }
}