@font-face {
    font-family: 'Poppins';
    src: url("/fonts/Poppins-Regular.ttf") ;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/fonts/Poppins-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/fonts/Poppins-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    //scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

:root {
    --primary: #0063FF;
    --primaryActive: #b0ceff;
    --primaryLight: #E9F5FF;
    --text: #192531;
    --secondary: #76869F;
}

@keyframes fadeAnim {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

