.plane-animation {
    position: relative;
    display: flex;
    align-items: center;
    transform: translate(-130px, 130px);
    z-index: 10;

    .shape {
        min-width: 320px;
        min-height: 400px;
        position: absolute;
        
        &:before {
            content: "";
            background-color: var(--primaryLight);
            border-radius: 10px 10px 200px 200px;
            height: 100%;
            width: 100%;
            position: absolute;
            animation: scale-background 2000ms cubic-bezier(0, 0.45, 0.15, 1)
        }
    }

    @keyframes paperplane-anim {
        0% {
            transform: rotate(50deg) translate(-500px, -250px);
            opacity: 0
        }
        30% {
            transform: rotate(50deg) translate(-500px, -250px);
            opacity: 0
        }
        100% {
            transform: rotate(0) translate(0, 0);
            opacity: 100
        }
    }

    .paperplane {
        position: absolute;
        z-index: 20;
        margin: -10px 0 0 20px;
        animation: paperplane-anim 2200ms cubic-bezier(0, 0.45, 0.15, 1);

        svg {
            margin-top: 0
        }

        @media (min-width: 1080px) and (max-width: 1300px) {
            margin: -10px 0 0 -40px;
        }

        @media (min-width: 830px) and (max-width: 1080px) {
            margin: -10px 0 0 -40px;
        }

        @media (max-width: 834px) {
            margin: -20px 0 0 80px;
        }
    }

    @media (min-width: 1080px) and (max-width: 1300px) {
        align-items: center;
        transform: translate(-180px, 120px) scale(0.8);
    }

    @media (min-width: 830px) and (max-width: 1080px) {
        align-items: center;
        transform: translate(-180px, 120px) scale(0.8);
    }

    @media (max-width: 834px) {
        display: none;
    }
}